@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#output {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

